body{
background-color: forestgreen;   
color: yellow; 
}

nav{
height: 6000px; 
width: 100px
float; left:
padding 5px
line 5px


}

footer{
    text-align:center 
  200px;margin-right: 

}

#memeImage{
    margin: right 200px;
    text-align: center;

}

header{
    text-align:center;

}